
.icon-doc-new:before { content: '\e800'; } /* '' */
.icon-address-book:before { content: '\e801'; } /* '' */
.icon-lightbulb:before { content: '\e802'; } /* '' */
.icon-doc:before { content: '\e803'; } /* '' */
.icon-network:before { content: '\e804'; } /* '' */
.icon-info-outline:before { content: '\e805'; } /* '' */
.icon-arrows-cw:before { content: '\e806'; } /* '' */
.icon-shuffle:before { content: '\e807'; } /* '' */
.icon-zoom-in:before { content: '\e808'; } /* '' */
.icon-zoom-out:before { content: '\e809'; } /* '' */
.icon-cogs:before { content: '\e80a'; } /* '' */
.icon-mail:before { content: '\e80b'; } /* '' */
.icon-ok:before { content: '\e80c'; } /* '' */
.icon-star:before { content: '\e80d'; } /* '' */
.icon-star-empty:before { content: '\e80e'; } /* '' */
.icon-group:before { content: '\e80f'; } /* '' */
.icon-trash:before { content: '\e810'; } /* '' */
.icon-leaf:before { content: '\e811'; } /* '' */
.icon-magnet:before { content: '\e812'; } /* '' */
.icon-pencil:before { content: '\e813'; } /* '' */
.icon-export:before { content: '\e814'; } /* '' */
.icon-download-alt:before { content: '\e815'; } /* '' */
.icon-attach:before { content: '\e816'; } /* '' */
.icon-comment-alt:before { content: '\e817'; } /* '' */
.icon-eye:before { content: '\e818'; } /* '' */
.icon-help:before { content: '\e819'; } /* '' */
.icon-flag:before { content: '\e81a'; } /* '' */
.icon-globe:before { content: '\e81b'; } /* '' */
.icon-off:before { content: '\e81c'; } /* '' */
.icon-key:before { content: '\e81d'; } /* '' */
.icon-clipboard:before { content: '\e81e'; } /* '' */
.icon-megaphone:before { content: '\e81f'; } /* '' */
.icon-gift:before { content: '\e820'; } /* '' */
.icon-check:before { content: '\e821'; } /* '' */
.icon-check-empty:before { content: '\e822'; } /* '' */
.icon-picture:before { content: '\e823'; } /* '' */